<%- include('./shared/header')%>

    <title>Document</title>
    </head>

    <body>
        <section class="main p-5">
            <div class="container my-5 p-5">

                <div class="text-center my-1">
                    <h2> Add Notes</h2>
                </div>
                <div class="my-2">
                    <form class="m-auto w-75 p-5" action="/note" method="POST" enctype="multipart/form-data">
                        <div class="form-group my-1">
                            <input value="<%=oldInputs?.noteBody%>" class="form-control" name="noteBody" placeholder="Note"
                                type="text" />
                        </div>
                        <div class="form-group my-1">
                            <input class="form-control" name="image" type="file" />
                        </div>
                        <div class="form-group my-1">
                            <button class="btn btn-info w-100"> Add Note</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="my-3">
                <div class="row justify-content-center align-items-center">
                    <% for( let i=0; i < notes.length; i++ ) { %>
                        <div class="col-md-4">
                            <div class="p-3">
                                <div class="card" style="width: 18rem;">
                                    <img src="<%=notes[i].Picture%>" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title"><%=notes[i].noteBody%></h5>
                                        <a href="/note/<%=notes[i]._id%>/delete" class="btn btn-danger p-3">Delete</a>
                                        <a href="/note/<%=notes[i]._id%>/update" class="btn btn-info p-3">Update</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </section>
        <%- include('./shared/footer')%>